# =============================================================================
# nats options
# =============================================================================
[nats]
host = "localhost"
port = 4222

# =============================================================================
# Logger options
# =============================================================================
[logger]
# emerg, alert, crit, err, warning, notice, info, debug
level = "debug"
time_format = "2006-01-02T15:04:05.999999999"
